html {
    background-color:brown; 
}

.square-list{
    list-style-type:square;
    color:cadetblue; 
}
.letters-list{
    list-style-type:upper-alpha;
    color:darkblue; 
}
.nav{ 
    list-style-type:none;
    background-color: aquamarine;
    padding: 30px;
    margin: 60px; 
    margin-bottom: 100px;
}