html {
    background-color:brown; 
}

.square-list{
    list-style-type:square;
    color:cadetblue; 
}
.letters-list{
    list-style-type:upper-alpha;
    color:darkblue; 
}
.nav{ 
    list-style-type:none;
}